<phpunit>
	<testsuite name="MaxCDN_API">
		<file>tests/AccountsTest.php</file>
		<file>tests/ReportsTest.php</file>
		<!-- <file>tests/User.php</file>
		<file>tests/PushZones.php</file>
		<file>tests/PullZones.php</file>
		<file>tests/VodZones.php</file>
		<file>tests/LiveZones.php</file>
		<file>tests/Cache.php</file> -->
	</testsuite>
</phpunit>
